.input-wrapper{
    align-items: center;
    background-color: #F0F2F5;
}

.input-field{
    background-color: #F0F2F5;
    border: none;
    width: 80%;
    border: none;
}

.input-field:focus{
    outline: none;
}
